.list{
    height: 100vh;
    background-color: rgb(84, 179, 30);
    padding: 2rem 0;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todolist{
    width: 100%;
}
.task{
    margin: 10px 0;
    width: 100%;
    background-color: rgb(117, 85, 48);
    padding: 1rem;
}